<p id="notice"><%= notice %></p>

<p>
  <strong>Punk:</strong>
  <%= @astro.punk %>
</p>

<p>
  <strong>Mango:</strong>
  <%= @astro.mango %>
</p>

<p>
  <strong>Sticker:</strong>
  <%= @astro.sticker %>
</p>

<%= link_to 'Edit', edit_astro_path(@astro) %> |
<%= link_to 'Back', astros_path %>
